
{% extends 'base.html' %}

{% block title %} Paquetes enviados por usuario {% endblock %}

{% block content %}
    <!-- Hover added -->
    <div class="card">
        <div class="card-header">Listar paquetes por Usuario</div>
        <div class="card-body">
            <h4 class="card-title">Paquetes</h4>
            <div
                class="table-responsive"
            >
                <table
                    class="table table-primary table-bordered table-hover "
                >
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Dimensiones</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Estado de Entrega</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for package in packages %}
                        <tr class="">
                            <td scope="row">{{ package.client.name }}</td>
                            <td>{{ package.client.last_name }}</td>
                            <td>{{ package.client.email }}</td>
                            <td>{{ package.weight }}</td>
                            <td>{{ package.dimensions }}</td>
                            <td>{{ package.origin }}</td>
                            <td>{{ package.destination }}</td>
                            <td>{{ package.status }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
    
{% endblock %} 